 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 
 .header{
display: flex;
align-items: center;
justify-content: space-between;
background-color: rgb(29, 28, 28);
height: 4rem;
width: 100%;
 }

 